body{
  overflow-x: hidden;
}

#demo{
  font-family: STFangsong;
  position: relative;
  left: 128px;
  top: 25px;
  font-weight: bold;
}

#HeadNav{
  position: relative;
  left: 788px;
  word-spacing: 10px;
  text-decoration-line: none;
}

#imgFinder{
  max-width: 58px;
  max-height: 58px;
  position: relative;
  bottom: 27px;
  left: 1000px;

}

.section1{
  position: relative;
  width: 100%;
  height: 666px;
}

#imgTheSea{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main_words{
  position: relative;
  top: 278px;
  left: 500px;
  font-family: Sathu;
  -webkit-text-fill-color: white;
}

#line1_1{
  position: relative;
  right: 40px;
}

#line1_2{
  position: relative;
  left: 62px;
}

#line1_3{
  font-size: small;
}

.section2{
  position: relative;
  width: 100%;
  height: 666px;
}

.section3{
  background-color: black;
  position: relative;
}

.SEO{
  position: relative;

  left: 760px;
  bottom: 300px;
}

#imgTheBook{
  position: relative;
  top: 100px;
  left: 144px;
  width: 500px;
  height: 500px;
}

.inheris{
  width: 400px;
  height: 160px;
}

.read_more{
  position: relative;
  top: 100px;

}

#imgTheColorfulBook{
  position: relative;
  left: 666px;
  height: 500px;
  width: 500px;
  bottom: 100px;
}

#line3_1{
  position: relative;
  left: 100px;
  top: 120px;

}

#line3_2{
  position: relative;
  width: 400px;
  left: 100px;
  top: 120px;
}

.see_in_action{
  position: relative;
  left: 100px;
}

.foot{
  float: bottom;
  width: 100%;
  background-color: black;
}

#final_line{
  position: relative;
  top: 22px;
  left: 100px;
  -webkit-text-fill-color: white;
}

#sp1{
  font-weight: bold;
}

#sp2{
  font-weight: bold;
}

#links{
  position: relative;
  left: 800px;
  height: 30px;
  bottom: 20px;
}

.facebook{
  width: 30px;
  height: 30px;
  margin-right: 20px
}

.twitter{
  width: 30px;
  height: 30px;
  margin-right: 20px
}

.linked{
  width: 30px;
  height: 30px;
  margin-right: 20px
}

.youtube{
  width: 30px;
  height: 30px;
  margin-right: 20px
}

.camera{
  width: 30px;
  height: 30px;
}

